<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>条件渲染</title>
</head>
<body>

<script src="../../js/vue.js"></script>

<!-- v-show：display、v-if：是否渲染出来 -->

<div id="app">
    <h1 v-if="awesome">Vue is awesome!</h1>
    <h1 v-else>Vue</h1>
    <h1 v-show="ok">Hello!</h1>
    <input v-model="message" placeholder="edit me">
    <p>Message is: {{ message }}</p>

    <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
    <label for="jack">Jack</label>
    <input type="checkbox" id="john" value="John" v-model="checkedNames">
    <label for="john">John</label>
    <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
    <label for="mike">Mike</label>
    <br>
    <span>Checked names: {{ checkedNames }}</span>

    <select v-model="selected">
        <option disabled value="">请选择</option>
        <option>A</option>
        <option>B</option>
        <option>C</option>
    </select>
    <span>Selected: {{ selected }}</span><br>

    <select v-model="selecte" multiple style="width: 50px;">
        <option>A</option>
        <option>B</option>
        <option>C</option>
    </select>
    <br>
    <span>Selected: {{ selecte }}</span><br>

    <select v-model="select">
        <option v-for="option in options" v-bind:value="option.value">
            {{ option.text }}
        </option>
    </select>
    <span>Selected: {{ select }}</span><br>

    <input
            type="checkbox"
            v-model="toggle"
            true-value="yes"
            false-value="no"
    ><br><br><br>

    <button-counter></button-counter>
    <button-counter></button-counter>
    <button-counter></button-counter>
</div>

<script>
    Vue.component('button-counter', {
        data: function () {
            return {
                count: 0
            }
        },
        template: '<button v-on:click="count++">You clicked me {{ count }} times.</button>'
    })

    var app = new Vue({
        el: '#app',
        data: {
            awesome: false,
            ok: true,
            checkedNames: [],
            message: '',
            selected: '',
            selecte: [],
            select: 'A',
            options: [
                { text: 'One', value: 'A' },
                { text: 'Two', value: 'B' },
                { text: 'Three', value: 'C' }
            ],
            toggle:''
        }
    })
</script>

</body>
</html>